@page
@using Empleados_Razor.Pages
@model EmpleadosHTMLModel
@{
    ViewData["Title"] = "Dueños";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Empleados</h3>
            </div>
            
            <div>
                <input type="submit"
                       value="Refrescar"
                       class="btn btn-secondary"
                       asp-page-handler="BtRefrescar" />
                <input type="submit"
                       value="Nuevo"
                       class="btn btn-secondary"
                       asp-page-handler="BtNuevo"
                       disabled="@(Model.Empleado != null)" />
                <input type="submit"
                       value="Guardar"
                       class="btn btn-secondary"
                       asp-page-handler="BtGuardar"
                       disabled="@(Model.Empleado == null)" />
            </div>

            @if (Model.Empleado != null)
            {
                <input type="hidden"
                       asp-for="@Model.Empleado!.Id" />

                <div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <div class="col-6">
                            <input id="inNombre"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Empleado!.Nombre" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Identificacion</label>
                        <div class="col-6">
                            <input id="inIdentificacion"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Empleado!.Apellido" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Telefono</label>
                        <div class="col-6">
                            <input id="inTelefono"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Empleado!.Cedula" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Telefono</label>
                        <div class="col-6">
                            <input id="inTelefono"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Empleado!.Edad" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Telefono</label>
                        <div class="col-6">
                            <input id="inTelefono"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Empleado!.Correo" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Telefono</label>
                        <div class="col-6">
                            <input id="inTelefono"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Empleado!.Telefono" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Telefono</label>
                        <div class="col-6">
                            <input id="inTelefono"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Empleado!.Cargo" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Horario</label>
                        <input type="checkbox" asp-for="@Model.Empleado!.Horario" />
                    </div>
                    <div class="form-group">
                        <label>Salario</label>
                        <input type="checkbox" asp-for="@Model.Empleado!.Salario" />
                    </div>
                    <div class="form-group">
                        <label>Bonificaciones</label>
                        <input type="checkbox" asp-for="@Model.Empleado!.Bonificaciones" />
                    </div>
                </div>
                
            }
            
            @if (ViewData.ContainsKey("Mensaje"))
            {
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
                ;
            }

            @if (Model.Empleado != null && Model.Borrando)
            {
                <div class='popup'>
                    <div class='pp_ms_inner'>
                        <div style='width:95%'>
                            <h2 align="left">Mensaje</h2>
                            <h6 align="left">Desea borrar el Empleado?</h6>
                            <h6 align="left">@Model.Empleado!.Nombre</h6>
                            
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCerrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model != null && Model.Lista != null && Model.Lista.Count > 0)
            {
                <table class="tb_data table table-striped table-bordered table-hover">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Cedula</th>
                        <th>Edad</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>CantidadAutos</th>
                        <th>Estado</th>
                        
                    </tr>
                
                    @foreach (var elemento in Model.Lista)
                    {
                        <tr>
                            <td>@elemento.Nombre</td>
                            <td>@elemento.Apellido</td>
                            <td>@elemento.Cedula</td>
                            <td>@elemento.Edad</td>
                            <td>@elemento.Correo</td>
                            <td>@elemento.Telefono</td>
                            <td>@elemento.Cargo</td>
                            <td>@elemento.Horario</td>
                            <td>@elemento.Salario</td>
                            <td>@elemento.Bonificaciones</td>
                            <td>
                                <input type="submit"
                                       value="Modificar"
                                       asp-page-handler="BtModificar"
                                       class="btn btn-secondary"
                                       asp-route-data="@elemento.Id" />
                                <input type="submit"
                                       value="Borrar"
                                       asp-page-handler="BtBorrarVal"
                                       class="btn btn-secondary"
                                       asp-route-data="@elemento.Id" />
                            </td>
                        </tr>
                    }
                </table>
            }
        </form>
    </div>
</center>