@page
@using Resenas_Razor.Pages
@model ResenasHTMLModel
@{
    ViewData["Title"] = "Resenas";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Resenas</h3>
            </div>
            
            <div>
                <input type="submit"
                       value="Refrescar"
                       class="btn btn-secondary"
                       asp-page-handler="BtRefrescar" />
                <input type="submit"
                       value="Nuevo"
                       class="btn btn-secondary"
                       asp-page-handler="BtNuevo"
                       disabled="@(Model.Resena!= null)" />
                <input type="submit"
                       value="Guardar"
                       class="btn btn-secondary"
                       asp-page-handler="BtGuardar"
                       disabled="@(Model.Resena == null)" />
            </div>

            @if (Model.Resena != null)
            {
                <input type="hidden"
                       asp-for="@Model.Resena!.Id" />

                <div>
                    <div class="form-group">
                        <label>Fecha</label>
                        <div class="col-6">
                            <input id="inFecha"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Resena.Fecha" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Calificación</label>
                        <div class="col-6">
                            <input id="inCalificacion"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Resena!.Calificacion" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Comentario</label>
                        <div class="col-6">
                            <input id="inComentario"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Resena!.Comentario" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tipo de Servicio</label>
                        <div class="col-6">
                            <input id="inTipoServicio"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Resena!.TipoServicio" />
                        </div>
                    </div>
                </div>
                
            }
            
            @if (ViewData.ContainsKey("Mensaje"))
            {
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
                ;
            }

            @if (Model.Resena != null && Model.Borrando)
            {
                <div class='popup'>
                    <div class='pp_ms_inner'>
                        <div style='width:95%'>
                            <h2 align="left">Mensaje</h2>
                            <h6 align="left">Desea borrar el Resena?</h6>
                            <h6 align="left">@Model.Resena!.Comentario</h6>
                            
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCerrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model != null && Model.Lista != null && Model.Lista.Count > 0)
            {
                <table class="tb_data table table-striped table-bordered table-hover">
                    <tr>
                        <th>Comentario</th>
                        <th>Fecha</th>
                        <th>Calificación</th>
                        <th>Tipo de Servicio</th>
                    </tr>
                
                    @foreach (var elemento in Model.Lista)
                    {
                        <tr>
                            <td>@elemento.Comentario</td>
                            <td>@elemento.Fecha</td>
                            <td>@elemento.Calificacion</td>
                            <td>@elemento.TipoServicio</td>
                            <td>
                                <input type="submit"
                                       value="Modificar"
                                       asp-page-handler="BtModificar"
                                       class="btn btn-secondary"
                                       asp-route-data="@elemento.Id" />
                                <input type="submit"
                                       value="Borrar"
                                       asp-page-handler="BtBorrarVal"
                                       class="btn btn-secondary"
                                       asp-route-data="@elemento.Id" />
                            </td>
                        </tr>
                    }
                </table>
            }
        </form>
    </div>
</center>