@*Pages/Ventanas/Admin/Alquileres_Razor.cshtml*@
@page
@model Asp_PresentacionesAuto.Pages.Ventanas.Admin.AlquileresHTMLModel;  
@{
    ViewData["Title"] = "Alquileres";

    string urlRegresar;
    var rol = HttpContext.Session.GetString("RolId");

    if (rol == "2")
        urlRegresar = "/Ventanas/Cliente/IndexClientes";
    else if (rol == "3")
        urlRegresar = "/Ventanas/Empleado/IndexEmpleados";
    else if (rol == "4")
        urlRegresar = "/Ventanas/Dueno/IndexDuenos";
    else
        urlRegresar = "/Ventanas/Admin/IndexAdmin";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Alquileres</h3>
            </div>
            
            <div>
                <a href="@urlRegresar" class="btn btn-danger">&#8592; Regresar</a>

                <input type="submit"
                       value="Refrescar"
                       class="btn btn-secondary"
                       asp-page-handler="BtRefrescar" />
                <input type="submit"
                       value="Nuevo"
                       class="btn btn-secondary"
                       asp-page-handler="BtNuevo"
                       disabled="@(Model.Alquiler!= null)" />
                <input type="submit"
                       value="Guardar"
                       class="btn btn-secondary"
                       asp-page-handler="BtGuardar"
                       disabled="@(Model.Alquiler == null)" />
            </div>

            @if (ViewData["Debug"] != null)
            {
                <div class="alert alert-info">@ViewData["Debug"]</div>
            }

            @if (Model.Alquiler != null)
            {
                <input type="hidden"
                       asp-for="@Model.Alquiler!.Id" />

                <div>
                    <div class="form-group">
                        <label>FechaInicio</label>
                        <div class="col-6">
                            <input id="inFechaInicio"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Alquiler!.FechaInicio" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>FechaFin</label>
                        <div class="col-6">
                            <input id="inFechaFin"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Alquiler!.FechaFin" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>PrecioAlquiler</label>
                        <div class="col-6">
                            <input id="inPrecioAlquiler"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Alquiler!.PrecioAlquiler" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>EstadoAlquiler</label>
                    <input type="checkbox" asp-for="@Model.Alquiler!.EstadoAlquiler" />
                </div>
                                    <div class="form-group">
                        <label>Auto</label>
                        <div class="col-6">
                            <select id="Autos"
                                    class="cts_forms form-control"
                                    asp-for="@Model.Alquiler!.Autos"
                                    asp-items="@(new SelectList(Model.ObtenerAutos(), "Id", "Placa"))">
                                <option value="">Seleccione el Auto</option>
                            </select>
                        </div>
                </div>

                <div class="form-group">
                    <label>Cliente</label>
                    <div class="col-6">
                        <select id="Clientes"
                                class="cts_forms form-control"
                                asp-for="@Model.Alquiler!.Clientes"
                                asp-items="@(new SelectList(Model.ObtenerClientes(), "Id", "Nombre"))">
                            <option value="">Seleccione el Cliente</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>Empleados</label>
                    <div class="col-6">
                        <select id="Empleados"
                                class="cts_forms form-control"
                                asp-for="@Model.Alquiler!.Empleados"
                                asp-items="@(new SelectList(Model.ObtenerEmpleados(), "Id", "Nombre"))">
                            <option value="">Seleccione el Empleado</option>
                        </select>
                    </div>
                </div>

            }
            
            @if (ViewData.ContainsKey("Mensaje"))
            {
                @await Html.PartialAsync("/Pages/Emergentes/Mensajes.cshtml")
                ;
            }

            @if (Model.Alquiler != null && Model.Borrando)
            {
                <div class='popup'>
                    <div class='pp_ms_inner'>
                        <div style='width:95%'>
                            <h2 align="left">Mensaje</h2>
                            <h6 align="left">Desea borrar el Alquiler?</h6>
                            <h6 align="left">@Model.Alquiler!.FechaInicio</h6>
                            
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCerrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model != null && Model.Lista != null && Model.Lista.Count > 0)
            {
                <table class="tb_data table table-striped table-bordered table-hover">
                    <tr>
                        <th>FechaInicio</th>
                        <th>FechaFin</th>
                        <th>PrecioAlquiler</th>
                        <th>EstadoAlquiler</th>
                        <th>Autos</th>
                        <th>Clientes</th>
                        <th>Empleados</th>
                    </tr>
                
                    @foreach (var elemento in Model.Lista)
                    {
                        <tr>
                            <td>@elemento.FechaInicio</td>
                            <td>@elemento.FechaFin</td>
                            <td>@elemento.PrecioAlquiler</td>
                            <td>@elemento.EstadoAlquiler</td>
                            <td>@elemento.Auto?.Placa</td>
                            <td>@elemento.Cliente?.Nombre</td>
                            <td>@elemento.Empleado?.Nombre</td>
                            <td>
                                <input type="submit"
                                       value="Modificar"
                                       asp-page-handler="BtModificar"
                                       class="btn btn-secondary"
                                       asp-route-data="@elemento.Id" />
                                <input type="submit"
                                       value="Borrar"
                                       asp-page-handler="BtBorrarVal"
                                       class="btn btn-secondary"
                                       asp-route-data="@elemento.Id" />
                            </td>
                        </tr>
                    }
                </table>
            }
        </form>
    </div>
</center>