@*Pages/Ventanas/Admin/Duenos_Razor.cshtml*@
@page
@model Asp_PresentacionesAuto.Pages.Ventanas.Admin.DuenosHTMLModel;
@{
    ViewData["Title"] = "Dueños";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Duenos</h3>
            </div>
            
            <div>
                <a href="/Ventanas/Admin/IndexAdmin"
                   class="btn btn-danger">&#8592; Regresar</a>
                <input type="submit"
                       value="Refrescar"
                       class="btn btn-secondary"
                       asp-page-handler="BtRefrescar" />
                <input type="submit"
                       value="Nuevo"
                       class="btn btn-secondary"
                       asp-page-handler="BtNuevo"
                       disabled="@(Model.Dueno != null)" />
                <input type="submit"
                       value="Guardar"
                       class="btn btn-secondary"
                       asp-page-handler="BtGuardar"
                       disabled="@(Model.Dueno == null)" />
            </div>

            @if (Model.Dueno != null)
            {
                <input type="hidden"
                       asp-for="@Model.Dueno!.Id" />

                <div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <div class="col-6">
                            <input id="inNombre"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Dueno!.Nombre" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Apellido</label>
                        <div class="col-6">
                            <input id="inApellido"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Dueno!.Apellido" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Cedula</label>
                        <div class="col-6">
                            <input id="inCedula"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Dueno!.Cedula" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Edad</label>
                        <div class="col-6">
                            <input id="inEdad"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Dueno!.Edad" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Correo</label>
                        <div class="col-6">
                            <input id="inCorreo"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Dueno!.Correo" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Telefono</label>
                        <div class="col-6">
                            <input id="inTelefono"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Dueno!.Telefono" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Cantidad de Autos</label>
                        <div class="col-6">
                            <input id="inCantidadAutos"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Dueno!.CantidadAutos" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Estado</label>
                        <input type="checkbox" asp-for="@Model.Dueno!.Estado" />
                    </div>
                </div>
                
            }
            
            @if (ViewData.ContainsKey("Mensaje"))
            {
                @await Html.PartialAsync("/Pages/Emergentes/Mensajes.cshtml")
                ;
            }

            @if (Model.Dueno != null && Model.Borrando)
            {
                <div class='popup'>
                    <div class='pp_ms_inner'>
                        <div style='width:95%'>
                            <h2 align="left">Mensaje</h2>
                            <h6 align="left">Desea borrar el Dueno?</h6>
                            <h6 align="left">@Model.Dueno!.Nombre</h6>
                            
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCerrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model != null && Model.Lista != null && Model.Lista.Count > 0)
            {
                <table class="tb_data table table-striped table-bordered table-hover">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Cedula</th>
                        <th>Edad</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>CantidadAutos</th>
                        <th>Estado</th>
                        
                    </tr>
                
                    @foreach (var elemento in Model.Lista)
                    {
                        <tr>
                            <td>@elemento.Nombre</td>
                            <td>@elemento.Apellido</td>
                            <td>@elemento.Cedula</td>
                            <td>@elemento.Edad</td>
                            <td>@elemento.Correo</td>
                            <td>@elemento.Telefono</td>
                            <td>@elemento.CantidadAutos</td>
                            <td>@elemento.Estado</td>
                            <td>
                                <input type="submit"
                                       value="Modificar"
                                       asp-page-handler="BtModificar"
                                       class="btn btn-secondary"
                                       asp-route-data="@elemento.Id" />
                                <input type="submit"
                                       value="Borrar"
                                       asp-page-handler="BtBorrarVal"
                                       class="btn btn-secondary"
                                       asp-route-data="@elemento.Id" />
                            </td>
                        </tr>
                    }
                </table>
            }
        </form>
    </div>
</center>