@*Pages/Ventanas/Admin/Mantenimientos_Razor.cshtml*@
@page
@model Asp_PresentacionesAuto.Pages.Ventanas.Admin.MantenimientosHTMLModel;
@{
    ViewData["Title"] = "Mantenimientos";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Mantenimientos</h3>
            </div>
            
            <div>
                <a href="/Ventanas/Admin/IndexAdmin"
                   class="btn btn-danger">&#8592; Regresar</a>
                <input type="submit"
                       value="Refrescar"
                       class="btn btn-secondary"
                       asp-page-handler="BtRefrescar" />
                <input type="submit"
                       value="Nuevo"
                       class="btn btn-secondary"
                       asp-page-handler="BtNuevo"
                       disabled="@(Model.Mantenimiento != null)" />
                <input type="submit"
                       value="Guardar"
                       class="btn btn-secondary"
                       asp-page-handler="BtGuardar"
                       disabled="@(Model.Mantenimiento == null)" />
            </div>

            @if (Model.Mantenimiento != null)
            {
                <input type="hidden"
                       asp-for="@Model.Mantenimiento!.Id" />

                <div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <div class="col-6">
                            <input id="inNombre"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Mantenimiento!.Fecha" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Identificacion</label>
                        <div class="col-6">
                            <input id="inIdentificacion"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Mantenimiento!.Tipo" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Telefono</label>
                        <div class="col-6">
                            <input id="inTelefono"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Mantenimiento!.Descripcion" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Telefono</label>
                        <div class="col-6">
                            <input id="inTelefono"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Mantenimiento!.Costo" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Auto</label>
                    <div class="col-6">
                        <select id="Autos"
                                class="cts_forms form-control"
                                asp-for="@Model.Mantenimiento!.Autos"
                                asp-items="@(new SelectList(Model.ObtenerAutos(), "Id", "Placa"))">
                            <option value="">Seleccione un Auto</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Taller</label>
                    <div class="col-6">
                        <select id="Talleres"
                                class="cts_forms form-control"
                                asp-for="@Model.Mantenimiento!.Talleres"
                                asp-items="@(new SelectList(Model.ObtenerTalleres(), "Id", "Nombre"))">
                            <option value="">Seleccione un Taller</option>
                        </select>
                    </div>
                </div>
                
            }
            
            @if (ViewData.ContainsKey("Mensaje"))
            {
                @await Html.PartialAsync("/Pages/Emergentes/Mensajes.cshtml")
                ;
            }

            @if (Model.Mantenimiento != null && Model.Borrando)
            {
                <div class='popup'>
                    <div class='pp_ms_inner'>
                        <div style='width:95%'>
                            <h2 align="left">Mensaje</h2>
                            <h6 align="left">Desea borrar el Mantenimiento?</h6>
                            <h6 align="left">@Model.Mantenimiento!.Fecha</h6>
                            
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCerrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model != null && Model.Lista != null && Model.Lista.Count > 0)
            {
                <table class="tb_data table table-striped table-bordered table-hover">
                    <tr>
                        <th>Fecha</th>
                        <th>Tipo</th>
                        <th>Descripcion</th>
                        <th>Costo</th>
                        <th>Autos</th>
                        <th>Talleres</th>

                    </tr>
                
                    @foreach (var elemento in Model.Lista)
                    {
                        <tr>
                            <td>@elemento.Fecha</td>
                            <td>@elemento.Tipo</td>
                            <td>@elemento.Descripcion</td>
                            <td>@elemento.Costo</td>
                            <td>@elemento.Autos</td>
                            <td>@elemento.Talleres</td>
                            <td>
                                <input type="submit"
                                       value="Modificar"
                                       asp-page-handler="BtModificar"
                                       class="btn btn-secondary"
                                       asp-route-data="@elemento.Id" />
                                <input type="submit"
                                       value="Borrar"
                                       asp-page-handler="BtBorrarVal"
                                       class="btn btn-secondary"
                                       asp-route-data="@elemento.Id" />
                            </td>
                        </tr>
                    }
                </table>
            }
        </form>
    </div>
</center>