@*Pages/Ventanas/Admin/Reservas_Razor.cshtml*@
@page
@model Asp_PresentacionesAuto.Pages.Ventanas.Admin.ReservasHTMLModel;
@{
    ViewData["Title"] = "Reservas";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Reservas</h3>
            </div>
            
            <div>
                <input type="submit"
                       value="Refrescar"
                       class="btn btn-secondary"
                       asp-page-handler="BtRefrescar" />
                <input type="submit"
                       value="Nuevo"
                       class="btn btn-secondary"
                       asp-page-handler="BtNuevo"
                       disabled="@(Model.Reserva!= null)" />
                <input type="submit"
                       value="Guardar"
                       class="btn btn-secondary"
                       asp-page-handler="BtGuardar"
                       disabled="@(Model.Reserva == null)" />
            </div>

            @if (Model.Reserva != null)
            {
                <input type="hidden"
                       asp-for="@Model.Reserva!.Id" />

                <div>
                    <div class="form-group">
                        <label>Fecha de Reserva</label>
                        <div class="col-6">
                            <input id="inFechaReserva"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Reserva.FechaReserva" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Estado de Reserva</label>
                        <div class="col-6">
                            <input id="inEstadoReserva"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Reserva!.EstadoReserva" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Anticipo</label>
                        <div class="col-6">
                            <input id="inAnticipo"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Reserva!.Anticipo" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Fecha de Vencimiento</label>
                        <div class="col-6">
                            <input id="inFechaVencimiento"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Reserva!.FechaVencimiento" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Auto</label>
                    <div class="col-6">
                        <select id="Autos"
                                class="cts_forms form-control"
                                asp-for="@Model.Reserva!.Autos"
                                asp-items="@(new SelectList(Model.ObtenerAutos(), "Id", "Placa"))">
                            <option value="">Seleccione el Auto</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>Cliente</label>
                    <div class="col-6">
                        <select id="Clientes"
                                class="cts_forms form-control"
                                asp-for="@Model.Reserva!.Clientes"
                                asp-items="@(new SelectList(Model.ObtenerClientes(), "Id", "Nombre"))">
                            <option value="">Seleccione el Cliente</option>
                        </select>
                    </div>
                </div>
                
            }
            
            @if (ViewData.ContainsKey("Mensaje"))
            {
                @await Html.PartialAsync("/Pages/Emergentes/Mensajes.cshtml")
                ;
            }

            @if (Model.Reserva != null && Model.Borrando)
            {
                <div class='popup'>
                    <div class='pp_ms_inner'>
                        <div style='width:95%'>
                            <h2 align="left">Mensaje</h2>
                            <h6 align="left">Desea borrar el Reserva?</h6>
                            <h6 align="left">@Model.Reserva!.FechaReserva</h6>
                            
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCerrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model != null && Model.Lista != null && Model.Lista.Count > 0)
            {
                <table class="tb_data table table-striped table-bordered table-hover">
                    <tr>
                        <th>FechaReserva</th>
                        <th>EstadoReserva</th>
                        <th>Anticipo</th>
                        <th>Fecha de Vencimiento</th>
                        <th>Autos</th>
                        <th>Clientes</th>
                    </tr>
                
                    @foreach (var elemento in Model.Lista)
                    {
                        <tr>
                            <td>@elemento.FechaReserva</td>
                            <td>@elemento.EstadoReserva</td>
                            <td>@elemento.Anticipo</td>
                            <td>@elemento.FechaVencimiento</td>
                            <td>@elemento.Auto?.Placa</td>
                            <td>@elemento.Cliente?.Nombre</td>
                            <td>
                                <input type="submit"
                                       value="Modificar"
                                       asp-page-handler="BtModificar"
                                       class="btn btn-secondary"
                                       asp-route-data="@elemento.Id" />
                                <input type="submit"
                                       value="Borrar"
                                       asp-page-handler="BtBorrarVal"
                                       class="btn btn-secondary"
                                       asp-route-data="@elemento.Id" />
                            </td>
                        </tr>
                    }
                </table>
            }
        </form>
    </div>
</center>