@*Pages/Ventanas/Admin/Seguros_Razor.cshtml*@
@page
@model Asp_PresentacionesAuto.Pages.Ventanas.Admin.SegurosHTMLModel;
@{
    ViewData["Title"] = "Seguros";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Seguros</h3>
            </div>
            
            <div>
                <input type="submit"
                       value="Refrescar"
                       class="btn btn-secondary"
                       asp-page-handler="BtRefrescar" />
                <input type="submit"
                       value="Nuevo"
                       class="btn btn-secondary"
                       asp-page-handler="BtNuevo"
                       disabled="@(Model.Seguro!= null)" />
                <input type="submit"
                       value="Guardar"
                       class="btn btn-secondary"
                       asp-page-handler="BtGuardar"
                       disabled="@(Model.Seguro == null)" />
            </div>

            @if (Model.Seguro != null)
            {
                <input type="hidden"
                       asp-for="@Model.Seguro!.Id" />

                <div>
                    <div class="form-group">
                        <label>Estado</label>
                        <div class="col-6">
                            <input id="inEstado"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Seguro.Estado" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tipo</label>
                        <div class="col-6">
                            <input id="inTipo"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Seguro!.Tipo" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Cobertura</label>
                        <div class="col-6">
                            <input id="inCobertura"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Seguro!.Cobertura" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Aseguradora</label>
                        <div class="col-6">
                            <input id="inAseguradora"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Seguro!.Aseguradora" />
                        </div>
                    </div>
                </div>
                
            }
            
            @if (ViewData.ContainsKey("Mensaje"))
            {
                @await Html.PartialAsync("/Pages/Emergentes/Mensajes.cshtml")
                ;
            }

            @if (Model.Seguro != null && Model.Borrando)
            {
                <div class='popup'>
                    <div class='pp_ms_inner'>
                        <div style='width:95%'>
                            <h2 align="left">Mensaje</h2>
                            <h6 align="left">Desea borrar el Seguro?</h6>
                            <h6 align="left">@Model.Seguro!.Tipo</h6>
                            
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCerrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model != null && Model.Lista != null && Model.Lista.Count > 0)
            {
                <table class="tb_data table table-striped table-bordered table-hover">
                    <tr>
                        <th>Tipo</th>
                        <th>Estado</th>
                        <th>Cobertura</th>
                        <th>Aseguradora</th>
                    </tr>
                
                    @foreach (var elemento in Model.Lista)
                    {
                        <tr>
                            <td>@elemento.Tipo</td>
                            <td>@elemento.Estado</td>
                            <td>@elemento.Cobertura</td>
                            <td>@elemento.Aseguradora</td>
                            <td>
                                <input type="submit"
                                       value="Modificar"
                                       asp-page-handler="BtModificar"
                                       class="btn btn-secondary"
                                       asp-route-data="@elemento.Id" />
                                <input type="submit"
                                       value="Borrar"
                                       asp-page-handler="BtBorrarVal"
                                       class="btn btn-secondary"
                                       asp-route-data="@elemento.Id" />
                            </td>
                        </tr>
                    }
                </table>
            }
        </form>
    </div>
</center>