@*Pages/Ventanas/Admin/Usuarios_Razor.cshtml*@
@page
@model Asp_PresentacionesAuto.Pages.Ventanas.Admin.UsuariosHTMLModel;
@{
    ViewData["Title"] = "Usuarios";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Usuarios</h3>
            </div>
            
            <div>
                <input type="submit"
                       value="Refrescar"
                       class="btn btn-secondary"
                       asp-page-handler="BtRefrescar" />
                <input type="submit"
                       value="Nuevo"
                       class="btn btn-secondary"
                       asp-page-handler="BtNuevo"
                       disabled="@(Model.Usuario!= null)" />
                <input type="submit"
                       value="Guardar"
                       class="btn btn-secondary"
                       asp-page-handler="BtGuardar"
                       disabled="@(Model.Usuario == null)" />
            </div>

            @if (Model.Usuario != null)
            {
                <input type="hidden"
                       asp-for="@Model.Usuario!.Id" />

                <div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <div class="col-6">
                            <input id="inNombre"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Usuario.Nombre" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Apellido</label>
                        <div class="col-6">
                            <input id="inApellido"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Usuario!.Apellido" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Correo</label>
                        <div class="col-6">
                            <input id="inCorreo"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Usuario!.Correo" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <div class="col-6">
                            <input id="inContraseña"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Usuario!.Contraseña" />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label>Telefono</label>
                        <div class="col-6">
                            <input id="inTelefono"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Usuario!.Telefono" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Rol</label>
                        <div class="col-6">
                            <select id="Roles"
                                    class="cts_forms form-control"
                                    asp-for="@Model.Usuario!.Roles"
                                    asp-items="@(new SelectList(Model.ObtenerRoles(), "Id", "Nombre"))">
                                <option value="">Seleccione un rol</option>
                            </select>
                        </div>
                    </div>
                </div>
                
            }
            
            @if (ViewData.ContainsKey("Mensaje"))
            {
                @await Html.PartialAsync("/Pages/Emergentes/Mensajes.cshtml")
                ;
            }

            @if (Model.Usuario != null && Model.Borrando)
            {
                <div class='popup'>
                    <div class='pp_ms_inner'>
                        <div style='width:95%'>
                            <h2 align="left">Mensaje</h2>
                            <h6 align="left">Desea borrar el Usuario?</h6>
                            <h6 align="left">@Model.Usuario!.Correo</h6>
                            
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCerrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            

            @if (Model != null && Model.Lista != null && Model.Lista.Count > 0)
            {
                <table class="tb_data table table-striped table-bordered table-hover">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Contraseña</th>
                        <th>Telefono</th>
                        <th>Rol</th>
                    </tr>
                
                    @foreach (var elemento in Model.Lista)
                    {
                        <tr>
                            <td>@elemento.Nombre</td>
                            <td>@elemento.Apellido</td>
                            <td>@elemento.Correo</td>
                            <td>@elemento.Contraseña</td>
                            <td>@elemento.Telefono</td>
                            <td>@elemento.Roles</td>
                            <td>
                                <input type="submit"
                                       value="Modificar"
                                       asp-page-handler="BtModificar"
                                       class="btn btn-secondary"
                                       asp-route-data="@elemento.Id" />
                                <input type="submit"
                                       value="Borrar"
                                       asp-page-handler="BtBorrarVal"
                                       class="btn btn-secondary"
                                       asp-route-data="@elemento.Id" />
                            </td>
                        </tr>
                    }
                </table>
            }
        </form>
    </div>
</center>