@*Pages/Ventanas/Admin/Ventas_Razor.cshtml*@
@page
@model Asp_PresentacionesAuto.Pages.Ventanas.Admin.VentasHTMLModel;
@{
    ViewData["Title"] = "Ventas";
    string urlRegresar;
    var rol = HttpContext.Session.GetString("RolId");

    if (rol == "2")
        urlRegresar = "/Ventanas/Cliente/IndexClientes";
    else if (rol == "3")
        urlRegresar = "/Ventanas/Empleado/IndexEmpleados";
    else if (rol == "4")
        urlRegresar = "/Ventanas/Dueno/IndexDuenos";
    else
        urlRegresar = "/Ventanas/Admin/IndexAdmin";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Ventas</h3>
            </div>
            
            <div>
                <a href="@urlRegresar" class="btn btn-danger">&#8592; Regresar</a>
                <input type="submit"
                       value="Refrescar"
                       class="btn btn-secondary"
                       asp-page-handler="BtRefrescar" />
                <input type="submit"
                       value="Nuevo"
                       class="btn btn-secondary"
                       asp-page-handler="BtNuevo"
                       disabled="@(Model.Venta!= null)" />
                <input type="submit"
                       value="Guardar"
                       class="btn btn-secondary"
                       asp-page-handler="BtGuardar"
                       disabled="@(Model.Venta == null)" />
            </div>

            @if (Model.Venta != null)
            {
                <input type="hidden"
                       asp-for="@Model.Venta!.Id" />

                <div>
                    <div class="form-group">
                        <label>Fecha de Venta</label>
                        <div class="col-6">
                            <input id="inFechaVenta"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Venta.FechaVenta" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Precio de Venta</label>
                        <div class="col-6">
                            <input id="inPrecioVenta"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Venta!.PrecioVenta" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tipo de Pago</label>
                        <div class="col-6">
                            <input id="inTipoPago"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Venta!.TipoPago" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Estado de Pago</label>
                        <input type="checkbox" asp-for="@Model.Venta!.EstadoPago" />
                    </div>
                </div>
                <div class="form-group">
                    <label>Clientes</label>
                    <div class="col-6">
                        <select id="Clientes"
                                class="cts_forms form-control"
                                asp-for="@Model.Venta!.Clientes"
                                asp-items="@(new SelectList(Model.ObtenerClientes(), "Id", "Nombre"))">
                            <option value="">Seleccione un Cliente</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Empleado</label>
                    <div class="col-6">
                        <select id="Empleados"
                                class="cts_forms form-control"
                                asp-for="@Model.Venta!.Empleados"
                                asp-items="@(new SelectList(Model.ObtenerEmpleados(), "Id", "Nombre"))">
                            <option value="">Seleccione un Empleado</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Auto</label>
                    <div class="col-6">
                        <select id="Autos"
                                class="cts_forms form-control"
                                asp-for="@Model.Venta!.Autos"
                                asp-items="@(new SelectList(Model.ObtenerAutos(), "Id", "Placa"))">
                            <option value="">Seleccione un Auto</option>
                        </select>
                    </div>
                </div>
                
            }
            
            @if (ViewData.ContainsKey("Mensaje"))
            {
                @await Html.PartialAsync("/Pages/Emergentes/Mensajes.cshtml")
                ;
            }

            @if (Model.Venta != null && Model.Borrando)
            {
                <div class='popup'>
                    <div class='pp_ms_inner'>
                        <div style='width:95%'>
                            <h2 align="left">Mensaje</h2>
                            <h6 align="left">Desea borrar el Venta?</h6>
                            <h6 align="left">@Model.Venta!.PrecioVenta</h6>
                            
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCerrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model != null && Model.Lista != null && Model.Lista.Count > 0)
            {
                <table class="tb_data table table-striped table-bordered table-hover">
                    <tr>
                        <th>FechaVenta</th>
                        <th>PrecioVenta</th>
                        <th>TipoPago</th>
                        <th>EstadoPago</th>
                        <th>Clientes</th>
                        <th>Empleados</th>
                        <th>Autos</th>


                    </tr>
                
                    @foreach (var elemento in Model.Lista)
                    {
                        <tr>
                            <td>@elemento.FechaVenta</td>
                            <td>@elemento.PrecioVenta</td>
                            <td>@elemento.TipoPago</td>
                            <td>@elemento.EstadoPago</td>
                            <td>@elemento.Cliente?.Nombre</td>
                            <td>@elemento.Empleado?.Nombre</td>
                            <td>@elemento.Auto?.Placa</td>
                            <td>

                                @{
                                    var rol = HttpContext.Session.GetString("RolId");
                                }

                                @if (rol == "1" || rol == "2" || rol == "3")
                                {
                                    <input type="submit" value="Modificar"
                                           asp-page-handler="BtModificar"
                                           class="btn btn-secondary"
                                           asp-route-data="@elemento.Id" />
                                }
                                @if (rol == "1")
                                {
                                    <input type="submit" value="Borrar"
                                           asp-page-handler="BtBorrarVal"
                                           class="btn btn-secondary"
                                           asp-route-data="@elemento.Id" />
                                }
                            </td>
                        </tr>
                    }
                </table>
            }
        </form>
    </div>
</center>